.playing-style {
  background-color: #120c1c !important;
}

.shadow {
  text-shadow: 0px 0px 5px #fff;
}

.avatar-song {
  animation: spin 10s linear infinite;
}

.list-songs::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list-songs::-webkit-scrollbar-track {
  background: #170f23;
  border-radius: 10px;
}

/* Handle */
.list-songs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
.list-songs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
